AUTH_WEB_HOST="localhost"
AUTH_WEB_PORT=5000

REDIS_HOST = "localhost"
REDIS_PORT = 6379

AUTH_SQL_CLIENT = "mysql"
AUTH_SQL_HOST = "localhost"
AUTH_SQL_PORT = 3306
AUTH_SQL_USER = "user"
AUTH_SQL_PASSWORD = "password"
AUTH_SQL_DATABASE = "db"

PASSWORD_SALT_KEY = "pacal"