GROCERY_SQL_CLIENT = "mysql"
GROCERY_SQL_HOST = "localhost"
GROCERY_SQL_PORT = 3307
GROCERY_SQL_USER = "user"
GROCERY_SQL_PASSWORD = "password"
GROCERY_SQL_DATABASE = "db"

GROCERY_PORT = 7000
GROCERY_HOST = localhost

RABBITMQ_HOST = localhost









