WEIGHT_TRACKER_SQL_CLIENT = "mysql"
WEIGHT_TRACKER_SQL_HOST = localhost
WEIGHT_TRACKER_SQL_PORT = 3310
WEIGHT_TRACKER_SQL_USER = "user"
WEIGHT_TRACKER_SQL_PASSWORD = password
WEIGHT_TRACKER_SQL_DATABASE = db

WEIGHT_TRACKER_PORT = 1000
WEIGHT_TRACKER_HOST = localhost

NODE_ENV = tst